<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <img src="<%=asset_path 'logo.png'%>" style="height: 50px; margin: 5px; margin-left: 15px;" />
    <div style="float: right;">
      <a href="/teacher" class="button radius success">DEMO - TEACHER</a>
      <a href="/admin" class="button radius success">DEMO - ADMINISTRATOR</a>
    </div>
    <hr>
    <div data-alert class="alert-box info radius" style="display: none; position: fixed; top: 0px; width: 100%; height: auto; z-index:50;"></div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>